/* rot: #ff4500 grün: #7cfc00*/

.text-field {
    -fx-min-width:500;
    -fx-min-height:500;
}

#modus0 {
  -fx-padding: 100px;;
  -fx-font-weight:bold;
  -fx-font-size:20px;
  -fx-text-alignment:center;
  -fx-fill:#ff4500;
}

#modus1 {
  -fx-padding: 100px;;
  -fx-font-weight:bold;
  -fx-font-size:20px;
  -fx-text-alignment:center;
  -fx-fill:#7cfc00;
}

#modus2 {
  -fx-padding: 100px;;
  -fx-font-weight:bold;
  -fx-font-size:20px;
  -fx-text-alignment:center;
}
